
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
  color:whitesmoke;
}


.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color:whitesmoke;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1120px;
    }
}

.signupp{
  scale:0.9;
}

